<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <style>
      body {
            background-color: #f2f2f2;
        }
       
    </style>
</head>
<body>
    <h1>Data Retrieval</h1>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="/providers" class="navbar-link">All Providers</a></li>
            <li class="navbar-item"><a href="/firstname" class="navbar-link">Patients first Names</a></li>
            <li class="navbar-item"><a href="/providers" class="navbar-link">Providers</a></li>
            <li class="navbar-item"><a href="/speciality" class="navbar-link">speciality</a></li>
        </ul>
    </nav>
    
        </tbody>
    </table>
</body>
</html>